body * {
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0;
}

.button {
  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border-radius: 2px;
  font-family: Nunito Sans;
  font-style: italic;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  padding: 13px 33px;
  color: #ffffff;
  outline: none;
  border: 0;
}

.logo {
  color: #e3b873;
}

.home {
  color: #e3b873;
}

.number {
  text-align: right;
  text-decoration-line: underline;

  color: #e3b873;
}

header {
  background-color: black;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 15px;
}

.header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 83px;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
}

.navigation {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin-left: 24px;
}

.navigation_list {
  margin-right: 47px;
}

.navigation_list a {
  text-decoration: none;
  color: white;
}

.container {
  max-width: 1263px;
  margin: 0 auto;
  padding: 0 18px;
}

.section1 {
  background-image: url(/images/Group\ 7.svg);
  background-size: cover;
  height: 707px;
  padding-top: 194px;
  position: relative;
  text-align: left;
}

.section1_container {
  position: relative;
  z-index: 1;
  height: 305px;
}

.subtitle {
  font-family: "Yeseva One";
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  font-size: 40px;
  line-height: 53px;
  color: #ffffff;
  max-width: 676px;
  height: 105px;
}

.title {
  color: #e3b873;
}

.section1_text {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: normal;
  margin-top: 14px;
  margin-bottom: 38px;
  font-size: 22px;
  line-height: 36px;
  max-width: 504px;
  color: #ffffff;
}
